<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace给一个命名空间 -->
<mapper namespace="com.neuedu.mapper.OrderDetailMapper">

    <resultMap id="detailMap" type="OrderDetail">
        <id column="detail_id" property="detailId"/>
        <result column="order_id" property="orderId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="count" property="count"/>
    </resultMap>

    <select id="listDetailByOrderId" resultMap="detailMap">
        select <include refid="allColumn"></include> from s_order_detail where order_id=#{orderId}
    </select>

    <delete id="delectDetailByOrderId">
        delete from s_order_detail where order_id = #{orderId}
    </delete>

    <update id="updateDetailByMemberId">
        update s_order_detail set goods_id = #{goodsId}  where detail_id = #{detailId} and order_id = #{orderId}
    </update>

    <insert id="saveDetail">
        insert into s_order_detail values (#{detailId},#{orderId},#{goodsId},#{count})
    </insert>


    <sql id="allColumn">
        detail_id,order_id,goods_id,count
    </sql>


</mapper>